* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#anime-bg {
    background-image: url(https://images4.alphacoders.com/987/987919.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: all 0.6s ease-in-out;
}

#frame-pomodoro {
    border: 1px solid rgba(255, 255, 255, 0.64);
    position: relative;
    width: 100%;
    max-width: 358px;
    margin: 0 auto;
    padding: 55px 25px 25px 25px;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}

#frame-overlay {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

body.page-loaded #frame-overlay {
    opacity: 0;
    visibility: hidden;
}

#frame-overlay img {
    width: 150px;
    height: 150px;
}

.btn-icon {
    border-radius: 28px;
    font-size: 24px;
    position: absolute;
    right: 0;
    width: 50px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#timer-settings {
    height: 60px;
    top: 20px;
    right: 20px;
}

#timer-progress {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.circle-timer {
    width: 270px;
    height: 270px;
}

.circle-background {
    stroke: #ffffff;
    stroke-width: 9;
    fill: none;
}

.circle-progress {
    stroke: #FF13F0;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-dasharray: 282;
    fill: none;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#timer-time {
    fill: #ffffff;
}

#timer-pause, #timer-rest {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    fill: #FF13F0;
}

#timer-sessions {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    color: #FF13F0;
    transition: all 0.3s ease-in-out;
}

#timer-sessions p {
    padding: 1em;
}

#complete-label {
    width: 80%;
    text-align: center;
}

#complete-sessions {
    font-weight: bold;
    font-size: 20px;
    color: #FF13F0;
}

#timer-functions {
    height: 145px;
    position: relative;
}

#timer-settings {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

#timer-buttons {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#timer-buttons button {
    font-size: 22px;
    color: #ffffff;
    background-color: #FF13F0;
    position: absolute;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: block;
}